@import 'tailwindcss';
@import '@nuxt/ui';

:root {
	--ui-text-highlighted: var(--color-anakiwa-300);
}

.dark {
	--ui-text-highlighted: var(--color-anakiwa-300);
}

@theme {
	--color-venegray1: #1d2427;
	--color-venegray2: #283338;
	--font-goldman: 'Goldman', 'sans-serif';

	/* Default Org Orange: orange-peel-500 */
	--color-orange-peel-50: oklch(93.218% 0.06482 81.277);
	--color-orange-peel-100: oklch(91.448% 0.08355 81.768);
	--color-orange-peel-200: oklch(87.894% 0.1167 80.605);
	--color-orange-peel-300: oklch(84.586% 0.14339 78.401);
	--color-orange-peel-400: oklch(81.528% 0.16223 74.864);
	--color-orange-peel-500: oklch(78.742% 0.17152 69.121);
	--color-orange-peel-600: oklch(65.448% 0.14219 69.538);
	--color-orange-peel-700: oklch(51.633% 0.11109 71.142);
	--color-orange-peel-800: oklch(36.597% 0.07789 73.155);
	--color-orange-peel-900: oklch(19.762% 0.04091 80.167);
	--color-orange-peel-950: oklch(8.5603% 0.01756 94.54);

	/* Default Org Blue: anakiwa-300 */
	--color-anakiwa-50: oklch(98.492% 0.00989 212.52);
	--color-anakiwa-100: oklch(96.275% 0.02735 213.77);
	--color-anakiwa-200: oklch(91.865% 0.05849 213.81);
	--color-anakiwa-300: oklch(87.778% 0.08667 214.34);
	--color-anakiwa-400: oklch(82.9% 0.11828 216.12);
	--color-anakiwa-500: oklch(78.866% 0.13641 218.95);
	--color-anakiwa-600: oklch(70.514% 0.12892 221.88);
	--color-anakiwa-700: oklch(57.42% 0.10357 220.43);
	--color-anakiwa-800: oklch(43.311% 0.07735 220.2);
	--color-anakiwa-900: oklch(27.87% 0.04769 217.71);
	--color-anakiwa-950: oklch(19.265% 0.03219 213.25);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
